<!DOCTYPE HTML>
<!--
  Prologue by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <!-- Head information -->
  <%- partial('_partial/head') %>

  <body>
    <!-- SIDEBAR -->
    <%- partial('_partial/sidebar') %>

    <!-- Main -->
      <div id="main">
        <%- body %>

      </div>
      <!-- Footer -->
      <%- partial('_partial/footer') %>

      <!-- After Footer Scripts -->
      <%- partial('_partial/footer-scripts') %>
  </body>

</html>